.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-w option{
  width: 15px !important;
}
.optional {
  font-size: 15px;
  opacity: .5;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.imgSizer {
  width: 500px ;
  max-height: 500px;
  font-size: 500px;

}

select {
  max-width: 100px;
  min-width: 100px;
  width: 50px !important;
}

#amount {
  max-width: 100px;
  min-width: 100px;
  width: 50px !important;
}
.fraction {
  max-width: 75px;
  min-width: 75px;
  width: 50px !important;
}

body {
  background-color: #DEF3FD !important;
}

.nav-tabs .nav-link.active  {
  background-color: #ACB4EA !important;
}

.btn-green {
  background-color: #CAF7A3 !important;
  color: black !important;
  font-weight: 500 !important;
  border: 1.5px solid black !important; 
}

.btn-red {
  background-color: #FFA4A5 !important;
  color: black !important;
  font-weight: 500 !important;
  border: 1.5px solid black !important
}

.cst-color {
  background-color: #ACB4EA !important;
}

.btn-yellow {
 
  background-color: #F0DC8C !important;
  color: black !important;
  font-weight: 500 !important;
  border: 1.5px solid black !important
}

.modal-body {
  background-color: #ACB4EA !important;
}
.modal-header {
  background-color: #ACB4EA !important;
  border: 1px solid #ACB4EA !important;
}
.modal-footer {
  background-color: #ACB4EA !important;
  border: 1px solid #ACB4EA !important;
}

.list-group-item {
  background-color: #BCE9D1 !important;
}